.header{
    height: 60px;
    background-color: #01AAED;
}

#title_header{
    font-family: KaiTi;
    font-weight: bold;
    font-size: 40px ;
    vertical-align: center;
    color: #D0D0D0;
}

#title_userLabel{
    color: white;
    margin-left: 500px;
    margin-right: 20px;
    font-family: KaiTi;
}

#title_timeLabel{
    color: white;
    font-family: KaiTi;
}

.menuBlock{
    height: 500px;
    width: 10%;
    border-right: dashed 1px;
    background-color: powderblue;
    float: left;
}

.contentBlock{
    float: left;
    height: 500px;
    width: 89.8%;
}

.menuBlock ul{
    list-style: none;
    width: 100px;
    height: auto;
}

.menuBlock ul li:hover{
    background: #c1c1c1;
}

.menuBlock .menuUlLv1{
    height: 90%;
}

.menuBlock .menuUlLv1 li {
    font-family: KaiTi;
    font-weight: bold;
    width: 75%;
    height: 50px;
    text-align: center;
    position: relative;
}

/*.menuBlock .menuUlLv1 li span{
    display: block;
}*/


.menuBlock ul .menuUlLv2 {
    position: relative;
    left: 78px;
    top: -20px;
    display: none;}


.menuBlock .menuUlLv1 .menuLiLv1:hover ul.menuUlLv2{
    display: block;
    background: #e8e8e8;
}

footer{
    text-align: center;
}